<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  게시글 목록 조회  -->
<mapper namespace="board">
 <select id = "getlist" resultType="boardDto">
  select * from board order by board_no ASC
 </select>

<!-- 게시글 목록 검색 $는 정적바인딩 ,#은 동적바인딩  -->
 <select id = "search" resultType="boardDto" parameterType="map">
 Select * from board where instr(${type},#{keyword}) > 0 
 order by board_no DESC 
 </select>


<select id ="unionList" resultType="boardDto" parameterType="map">
 Select * from board
    <if test="type != null and keyword != null">
  where instr(${type},#{keyword}) > 0 
  </if>
 order by board_no DESC 

</select>


</mapper>


