<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="item">
<insert id="add" parameterType="ItemDto">
INSERT INTO item VALUES(item_seq.nextval,#{name},#{price},#{type},sysdate)

</insert>

<select id="getlist" resultType="ItemDto">
 select * from item 
 </select>
</mapper>



